# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode

# Directories
mlruns/

# File Extensions
*.pickle
*.keras
*.h5
*.pyc
*.csv
# Data Files
!iris_inference_data.csv
!iris_train_data.csv
# Environment Variables
.env

# Installer logs
pip-log.txt